/* Fonts */
:root {
    --shadow-config: 0px 2px 4px 0px;
    --header-font: 'Fredoka One', cursive;
    --body-font: 'Arimo', sans-serif;
    --number-font: 'Raleway', sans-serif;
    --button-font: 'Arimo', sans-serif
}

/* Colors */
:root {
    --background-color: hsl(0, 0%, 99%);
    --body-font-color: rgba(0, 0, 0, 0.7);
    --body-font-color-trans: rgba(0, 0, 0, 0.4);
    --blue0: hsl(192, 100%, 50%);
    --blue1: hsla(192, 100%, 50%, 0.4);
    --shade0: rgba(0, 0, 0, 0.3);
    --shade1: rgba(0, 0, 0, 0.7);
}

html,
body {
    height: 100%;
    font-family: var(--body-font);
    margin: 0 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.35
}

#wrapper {
    height: 100%
}

#wrapper.light-theme {
    background-color: var(--background-color);
    color: var(--body-font-color)
}

h1,
h2,
h3 {
    color: var(--body-font-color);
    font-family: var(--header-font);
}

h1 {
    color: var(--blue0);
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px
    }
}

h2 {
    font-size: 22px;
    margin: 5px 5px 10px 5px
}

h3 {
    font-size: 18px;
    margin: 5px 5px 10px 5px
}

div.stripe {
    margin: 0 0;
    padding: 10px 10px
}

div.stripe-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px
}

div.chunk-narrow {
    margin-bottom: 15px
}

.align-center {
    text-align: center
}

.align-left {
    text-align: left
}

p,
ul {
    color: var(--body-font-color);
    margin: 5px 5px 5px 5px
}

div.normal-text :not(:last-child) {
    margin-bottom: 10px
}

p em,
p strong,
p span,
p a {
    white-space: nowrap
}

a {
    color: var(--body-font-color)
}

ul {
    list-style: none;
    padding: 0
}

.tinytext {
    font-size: 13px;
    font-style: italic
}

.tip {
    color: var(--body-font-color)
}

.disconnected {
    color: red
}

.error {
    color: red;
    font-weight: bold
}

div.warning {
    color: var(--body-font-color);
    border-radius: 2px;
    margin: 10px 80px;
    padding: 0 10px;
    font-size: 13px;
    display: inline-block
}

hr {
    height: 1px;
    border: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap
}

.fill-space {
    flex: 1
}

.bg-dots {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e5007e' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E")
}

.bg-texture {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e5007e' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
}

.view {
    background-color: var(--background-color);
    height: 100%;
    display: flex;
    flex-direction: column
}

.view .view-container {
    margin: auto
}

.menu {
    position: fixed;
}

#home #home-menu {
    min-height: 100px;
    margin: 0 0
}

#home #about-content {
    font-size: 14px;
    line-height: 1.2
}

div#setup-header {
    color: var(--body-font-color);
}

div#room-setup div.game-code h1 {
    font-family: var(--header-font);
    margin-top: 0
}

div#room-setup h2 {
    font-family: var(--number-font);
    font-size: 40px;
}

div#room-setup div.chunk.users {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto
}

div#room-setup ul.users {
    height: calc((1.4em) * 16);
    margin-top: 0
}

div#room-setup li {
    font-weight: bold;
    font-family: var(--body-font);
    color: var(--body-font-color);
    line-height: 1.4;
    font-size: 1.4em;
}

#game-info {
    text-align: left;
    font-family: var(--header-font)
}

@media screen and (max-width: 480px) {
    #game-info h3 {
        font-size: 16px
    }
}

#game-info .current-turn {
    margin-left: 10px;
    margin: 0 0 0 10px
}

#conn-overlay {
    background-color: rgba(240, 240, 240, 0.9);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3
}

.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none
}

.btn {
    font-family: var(--button-font);
    font-size: 1.3em;
    font-weight: 700;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    min-width: 110px;
    line-height: 50px;
    padding: 0 15px;
    margin: 10px 10px;
    cursor: pointer;
    transition: background-color .2s, color .2s, border .2s, box-shadow .2s
}

.btn.big {
    min-width: 220px
}

.btn:disabled {
    border-color: var(--blue0);
    background-color: var(--background-color);
    color: var(--blue0);
    cursor: default
}

.btn.primary:not(:disabled) {
    background-color: var(--blue0);
    color: var(--background-color);
    border-color: var(--blue0);
}

@media (any-hover: hover) {
    .btn.primary:not(:disabled):hover {
        background-color: var(--background-color);
        color: var(--blue0);
        border-color: var(--blue0);
    }
}

.btn.primary:not(:disabled):active {
    background-color: var(--blue0);
    border-color: var(--blue0)
}

.btn.secondary:not(:disabled) {
    background-color: var(--background-color);
    color: var(--blue0);
    border-color: var(--blue0)
}

@media (any-hover: hover) {
    .btn.secondary:not(:disabled):hover {
        color: var(--blue0);
        border-color: var(--blue0)
    }
}

.btn.secondary:not(:disabled):active {
    color: var(--blue0);
    border-color: var(--blue0)
}

.btn.tertiary {
    color: var(--blue0);
    background: none;
    border-radius: 0;
    border-top: solid 2px transparent;
    border-bottom: solid 2px var(--blue0);
    border-left: solid 2px transparent;
    border-right: solid 2px transparent;
    padding: 5px;
    line-height: 20px;
    min-width: 0px;
}

@media (any-hover: hover) {
    .btn.tertiary:hover {
        color: var(--blue1);
        border-bottom: solid 2px var(--blue1);
    }
}


input[type="text"],
input[type="tel"],
input[type="number"] {
    border-style: hidden;
    border-bottom: solid 2px;
    border-bottom-color: var(--body-font-color-trans);
    background: none;
    line-height: 40px;
    text-align: center;
    margin: 10px 0;
    color: var(--body-font-color);
    font-weight: normal
}

input[type="text"]:valid,
input[type="tel"]:valid,
input[type="number"]:valid {
    border-bottom-color: var(--body-font-color);
}

input[type="text"]:invalid,
input[type="tel"]:invalid,
input[type="number"]:invalid {
    box-shadow: none
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="number"]::placeholder {
    color: var(--body-font-color-trans);
}

@media screen and (max-width: 425px) {
    #in-game .btn {
        font-size: 15px;
        padding: 0 5px;
        margin: 5px
    }

    #in-game .btn.primary:not(.big),
    #in-game .btn.secondary {
        min-width: 90px
    }

    #in-game .btn.primary.big {
        min-width: 150px
    }
}

.dialog-component .dialog-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--shade1);
    z-index: 10
}

.dialog-component .dialog-window {
    z-index: 10;
    color: var(--body-font-color);
    background-color: var(--background-color);
    border: solid 1px var(--background-color);
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0px 3px 6px 0px var(--shade0)
}

.dialog-window h3 {
    color: var(--body-font-color);
    font-family: var(--body-font);
}

.dialog-component .dialog-actions {
    margin-top: 20px
}

#player-statuses ul {
    text-align: left
}

#player-statuses li {
    display: flex
}

#player-statuses li>span {
    align-self: center
}

#player-statuses .grow-space {
    flex-grow: 1;
    min-width: 10px
}